nav {
    background-color: blueviolet;
    color: azure;
    padding: 1% 2%;
    display: flex;
    justify-content: space-between ;
}
nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav li {
    list-style:  none;
}
nav li a{
    color: beige;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 8px;
}
nav li a:hover{
    color: yellow;
    text-decoration: none;
}